.form-text {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 1rem; */
  background-color: transparent;
}

.form-text__input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.form-text__input:focus {
  outline: none;
  border-color: #007bff;
}

.form-text__input--error {
  border-color: var(--red);
}

.patternMessage {
  padding-top: 10px;
  text-align: right;
  color: var(--red);
}
